a {
    
    color: black;
}
.maincontainer {
    font-family: 'Lato', sans-serif;
/*   max-width: 1412px; */
    
}

.img-responsive {
    width: 100%;
}

.members {
    font-family: 'Lato', sans-serif;
/*     max-width: 1412px;*/
}

.footer {
    font-family: 'Lato', sans-serif;
/*    max-width: 1412px;*/
    padding: 50px;
    background-color: black;
    color: ghostwhite;
/*    text-align: center;*/
    
}

.col-sm-1 { 
   width: 20%;
    text-align: center;
}

.icon-bar {
    background-color: #f9a015;
   
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}


.navbar {
    font-family: 'Lato', sans-serif;
   font-size: 1em;
    
  
}


.nav > li > a:hover{
    background-color: white;
    
}

.btn {
    color: white;
    background-color: #f9a015;
    font-family: 'Lato', sans-serif;
}

.banner {
   background-image: url("images/bannerimage.jpg");
background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
    padding-bottom: 80px;
}

.banner h1 {
    padding-top: 20px;
    font-family: 'Lato', sans-serif;
    width: 40%;
    font-size: 3em;
  font-weight: 700;
    font-style: italic;
    color:white;
}

h2 {
        font-family: 'Lato', sans-serif;
        font-weight: 600;
    }

h3 {
 
        font-family: 'Lato', sans-serif;
        font-weight: 600;
}
.col-sm-4 {
    padding: 20px;
}
.col-sm-4 h3 { 
   font-family: 'Lato', sans-serif;
    font-weight: 600;
}

.col-sm-4 p { 
   font-family: 'Lato', sans-serif;
    
}

@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  [class*=col-] {
    width: 100%;
  }
}

/* If the screen size is 601px wide or more, set the font-size of <div> to 80px */
@media screen and (min-width: 601px) {
  div.container h1{
    font-size: 3em;
  }
}

/* If the screen size is 600px wide or less, set the font-size of <div> to 30px */
@media screen and (max-width: 600px) {
  div.container h1 {
    font-size: 25px;
  }
}